* {
  margin:0;
  padding:0;
  font-family: 'Oswald', sans-serif;
 
}


#top {
  margin:0 auto;
  width:100%;
  font-size:220%;
  background-color:silver;
   text-align:center;
  padding:7px;

  }
#top h1 {
  background-color:#637991;
  font-size:80px;
}
#center {
 background-color:silver;
  width:100%;
  height:800px;
     text-align:center;
  margin: 0 auto;
  padding:7px;
  border: 0 auto;
  display:flex;
}
#info {
   background-color:#8aa2bd;
  width:50%;
  height:100%; 
     text-align:center;
  float:left;
 padding:.2px;
}
#info h1 {
  font-size:80px;
}
#info p {
 font-size:34px;
  padding:7px;
  margin:3.4%;
}

#fotos {
   background-color:#8aa2bd;
  width:50%;
  height:100% ;
     text-align:center;
   float:right;
  padding:0 auto;
}


#list{
    background-color:silver;
  width:100%;

  height:100%;
     text-align:center;
   margin: 0 auto;
  padding:7px;
  border: 0 auto;
  display:flex;
}
#sus {
  width: 100%;
  background-color:#8aa2bd;

}
#hobbielist {
  background-color:#637991;
  width:100%;
  height:100%;

  text-align:center;
}
#list p {
  padding:30px;
  font-size:29px;
}
